<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebsiteQ</a>
      {% if session['loggedin'] == null %}
      <br>You are not logged in.
      {% else %}
      <br>Welcome, {{session['email']}}!
      {% endif %}
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Ask Anything!</a></li>
      <li><a href="/all_questions">Question Log</a></li>
      
      <li><a href="/login">Login / Sign out</a></li>

    </ul>
  </div>
</nav>