<!DOCTYPE html>
<!--TODO: Make the website look better-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Query System 2021 -- All Questions
        </title>
    </head>
    <body>
        <h2>
            Questions and Answers
        </h2>
        <p>
          <div class="login">
            <br/>
            <ul id="navigation">
            {% for key in keys %}
            <label><p>{{ key }}</p></label>
            {%endfor%}
            </ul>
            
            <a href="/">Go back</a>
            </div>
        </p>
    </body>
</html>