  
<!--This page displays all the questions.-->
<!--TODO: Create a table of output.-->

{% extends 'layout.html' %}
{% block body %}
  <div class="jumbotron text-center">
    <h1>Questions Log</h1>
    <p class="lead">Unresolved questions will be displayed here.</p>
  
  </div>
    <html>
    <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    <table>
      <tr>
        <th>Student Name</th>
        <th>Type of help needed</th>
        <th>Time</th>
        <th>Status</th>
        <th>Who they want for help</th>
      </tr>
      {% for key in keys %}
      <tr>
        <td>{{ key[0] }}</td>
        <td>{{ key[1] }}</td>
        <td>{{ key[2] }}</td>
        <td>{{ key[3] }}</td>
        <td>{{ key[4] }}</td>
      </tr>
      <tr>
    {%endfor%}
    
    </table>
    
    </body>
    </html>
{% endblock%}