<!DOCTYPE html>
<!--The Main Page-->
<!--TODO: Make the website look better-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Query System 2021
            Testing... Does this thing work?
        </title>
    </head>
    <body>
        <h2>
            Query
        </h2>
        <p>
          <div class="login">
            <form id="login" action="/question" method="post">
                <label><b>Your name:</b></label>    
                <input type="text" name="name" id="name">  <br />
                <label><b>Your Question:</b></label>
                <input type="text" name="question" id="question"/>
                
                <!--TODO: Make the textbox bigger-->
                <input type="submit" name= "form" id="log" value="Submit" />
            </form>
            <br/>
            <a href="answer">Answer the questions</a>
            <br/>
            <a href="login">Login</a>
            </div>
        </p>
    </body>
</html>