<!DOCTYPE html>
{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to WebsiteQ!</h1>
    <p class="lead">This website will be used to document questions. :)</p>
  </div>

    <title>
        Query System 2021
    </title>
    
    <p>
      <div class="login">
        <form id="login" action="/submit_question" method="post">
            <label><b>Your name:&emsp;</b></label>    
            <input type="text" name="name" id="name">  <br />
            <label><b>Your question:&emsp;</b></label>
            <input type="text" name="question" id="question"/>
            <input type="submit" name= "form" id="log" value="Submit" />
                        
            <!--TODO: Create a tetxbox for tag input here-->
        </form>
        <!--Display the message variable passed from the Python backend-->
        <center><label><p>{{message}}</p></label></center>
        </div>
        
{% endblock%}
<!--The Main Page-->
