{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Log in</h1>
    <p class="lead">Welcome back! Enter your username/email and password.</p>
    <title>
        Query System 2021 -- Login
    </title>
    
    <!--Display the message variable passed from the Python backend-->
    <center><label><p>{{message}}</p></label></center>
    <form id="login" action="/password_check" method="post">
        <label><b>Email:</b></label>    
        <input type="text" name="email" id="email">  <br />
        <label><b>Password:</b></label>
        <input type="text" name="password" id="password"/>
        <input type="submit" name= "form" id="log" value="Login!" />
        <br><a href="signup">No account? Sign up here</a>
            
{% endblock%}