<!DOCTYPE html>
<!--TODO: The Sign Up System-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Query System 2021 -- Login
        </title>
    </head>
    <body>
        <h2>Sign Up</h2>
        <center>Don’t reuse any important password!</center>
        <center><br/>We don’t spend a lot on security for this website.</center>
        <p>
          <div class="login">
            <form id="login" action="/create_new_account" method="post">
                <label><b>Email:</b></label>    
                <input type="text" name="email" id="email">  <br />
                <label><b>Password:</b></label>
                <input type="text" name="password" id="password"/>
                <input type="submit" name= "signup" id="signup" value="Sign up!" />
            </form>
            <br/>
            <a href="answer">Answer the questions</a>
            
            <br/>
            
            <a href="login">Login</a>
            
            </div>
        </p>
    </body>
</html>